#msform{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
  
    box-sizing: border-box;
    width:100%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 7px 15px;
    border: 1px solid #ced4da;
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #7f7f7f;
    font-size: 14px;
    /*font-weight: 300;*/
}

#msform input:focus {
  color: #7f7f7f;
  border:1px solid #EA060C;
}

#msform textarea:focus {
  color: #7f7f7f;
  background-color: #fff;
  outline: 0;
  border:1px solid #EA060C;
}

#msform input::placeholder {
    color:#B2B2B2;
}


#msform textarea::placeholder {
    color:#B2B2B2;

}


.spanlabel{
     color:#7E7E7E;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 300;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #EA060C;
    font-weight: 500;
    color: white;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    padding: 5px;
    margin: 30px 5px;
    border: 1px solid #EA060C;
}
#msform .action-button:hover, #msform .action-button:focus {
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #EA060C;*/

     background-color: #FFF;
color: #EA060C;
transition:all .6s ease 0s;
}

.previous{
background-color: #D2D2D2 !important;
 border: 1px solid #D2D2D2 !important;
 color: #666666 !important;


}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 30px;
    margin-top: 20px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    /*margin-bottom: 30px;*/
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 9%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 15px;
    display: block;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    background: white;
    border-radius: 0;
    margin: 0 auto 5px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D2D2D2;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #009688;
    color: white;
}


.onoffswitch {
    position: relative; width: 88px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 22px;
    margin-bottom: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:after {
    content: "NO";
    /*padding-left: 0;*/
    background-color: #EEEEEE; color: #999999;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-right: 35px;
    background-color: #009688; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border: 2px solid #FFFFFF; border-radius: 22px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.img-chart1{

    width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.img-chart2{
    width: 300px;
}

.img-chart3{

}

.encabezado-graficas{
    padding-top: 15px;
    padding-bottom: 15px;
}

.encabezado-graficas .titulosencabezado .azul{
    font-size: 18px;
    color: #55aadd;
    padding-bottom: 5px;
    border-bottom: 1px solid #55aadd;
    margin-bottom: 5px;
}

.encabezado-graficas .titulosencabezado .rosado{
    font-size: 18px;
    color: #ffa4c4;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffa4c4;
    margin-bottom: 5px;
}

.encabezado-graficas .titulosencabezado h3{
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}


    .lobipanel .panel-expanded {
    overflow-y: scroll !important;
    }

    .control-label{
        font-weight: 100;
        margin-bottom: 0;
    }

    .infoform{
        font-size: 16px;
        cursor: pointer;
    }


    .controlper {
         font-family: arial;
    display: block;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
}
    .controlper input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.controlper_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 1px solid #999999;
}
.controlper-radio .controlper_indicator {
    border-radius: 50%;
}

.controlper:hover input ~ .controlper_indicator,
.controlper input:focus ~ .controlper_indicator {
    background: #cccccc;
}

.controlper input:checked ~ .controlper_indicator {
    background: #009688;
}
.controlper:hover input:not([disabled]):checked ~ .controlper_indicator,
.controlper input:checked:focus ~ .controlper_indicator {
    background: #0e6647d;
}
.controlper input:disabled ~ .controlper_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.controlper_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.controlper input:checked ~ .controlper_indicator:after {
    display: block;
}
.controlper-radio .controlper_indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
}
.controlper-radio input:disabled ~ .controlper_indicator:after {
    background: #7b7b7b;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.mb-20{
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .vertical-align {
    display: block;
}
}