.card1{
    text-align: center;
    width: 100%;
}

.card1 h4{
font-weight: 700;
margin-bottom: 0;
padding-bottom: 0;
margin-top: 10px;
text-transform: uppercase;
color: #666666;
font-size: 18px;
margin-bottom: 30px;
}

.card1 .imgcard{
        width:80%;
     border-radius: 50%;
}

.mb-30{
    margin-bottom: 30px;
}
.box8{
  position:relative;
cursor:pointer;
}

.box8{
  width: 100%;
  height:200px;
}



.box8 .box-content{width:100%;height:100%;
    background:rgba(0,0,0,0.4);
    opacity:0.6;
    position:absolute;
    top:0;
    left:0;

    transition:all .9s ease 0s;
}
.box8:hover .box-content{
    opacity:0;
      transition:all .9s ease 0s;
    cursor: pointer;
}


.box9{
  width: 100%;
  height:300px;
}



.box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon li a,.box6,.box7,.box8{overflow:hidden}
.box1 .title,.box10 .title,.box4 .title,.box7 .title{letter-spacing:1px}
.box3 .post,.box4 .post,.box5 .post,.box7 .post{font-style:italic}
.box10 .icon li a,
.box11,.box12,.box13,.box14,.box6 .icon li a,.box7,.box7 .icon li a,.box9,.box9 .icon li a{text-align:center}
.box9 .icon,.box9 .title{
    margin:0;
    position:absolute
}
.box9{
  position:relative;
cursor:pointer;
}


.box9 .box-content{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7);
    opacity:0;
    position:absolute;
    top:0;left:0;
    transform:perspective(400px) rotateX(-90deg);
    transform-origin:center top 0;
    transition:all .5s ease 0s;
        align-items: center;
        display: flex;
}
.box9 .icon li a,.box9 .title{
    background:#EB2B2C;
    font-size:14px;
    color:#fff}
.box9:hover .box-content{
    opacity:1;
    transform:perspective(400px) rotateX(0);
    cursor: pointer;
    z-index: 10;
}
.box9 .title{
     padding: 12px;
      font-weight: 600;
      bottom: 10px;
      right: 10px;
      transition: all .9s ease 0s;

      font-size: 14px;
}
.box9 .icon li a img{transition:all .35s ease 0s}
.box9:hover .title{right:-60px}
.box9 .icon{
    vertical-align: middle;
    list-style:none;
    padding:0;
    left:0;
    right:0;
    }
.box9 .icon li a{
  display:block;
  width:100px;
  line-height:35px;
  margin-left: auto;
  margin-right: auto;
}

.box9 .icon li{
    color: #fff;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.box9 .icon li a:hover{ cursor: pointer;}



.title-art-cat{
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
}

.map-art{
    margin-bottom: 10px;
}

.map-art a{
    color: #000;
    font-size: 12px;
}

.map-art a:hover{
    color: #EA060C;
}

.subcat .btnsubcat{
    background-color: #EA060C;
    color: #fff;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 10px;
}

.lf-25{
    left: 25px !important;
}

.mb-10{
    margin-bottom: 10px;
}


.page-link{
    color: #666666;
    border-radius: none;
}


.pagination{
    border-radius: 0;
}

.page-item.disabled .page-link{
     border-radius: 0;
}


.page-item:last-child .page-link{
    border-radius: 0;
}

.page-link:hover{
    color: #EA060C ;
}

.single-post-wrap h4{
margin-top: 20px;
margin-bottom: 15px;
}

.single-post-wrap ol{
    list-style-type: decimal;
}

.single-post-wrap ol li{
    padding-left: 10px;
    text-align: justify;
    text-transform: initial;
    /*color: #000;*/
    color: #7E7E7E;
}

.single-post-wrap p{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
    text-transform: initial;
    /*color: #000;*/
    color: #7E7E7E;
    font-weight: 400;
}

.single-post-wrap a{
    color: #EA060C;
}

.single-post-wrap a:hover{
    color: black;
}
.bold5{
    font-weight: 500;
}
.latest-post-area .latest-post-wrap .single-latest-post .tagevents{
}

.latest-post-area .latest-post-wrap .single-latest-post .tagevents li{
    display: inline-block;
    margin-bottom: 5px;
}


.latest-post-area .latest-post-wrap .single-latest-post .tagevents a{
    background: #000;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff !important;
    padding: 4px 15px;
    margin-right: 10px;
    text-align: left;
    font-size: 12px;
}

.latest-post-area .latest-post-wrap .single-latest-post .tagevents a:hover{
    color: #C2C2C2;
}

.img-fluid2 {
    width: 100%;
    height: auto;

}

.sinpadlrim{
    padding-right: 0;
    padding-left: 0;
}

.pl-10{
    padding-left: 10px;
}

.pr-10{
    padding-right: 10px;
}

.searchevents{
    padding: 10px 0 10px 0;

}

.searchevents .form-control{
    border-radius: 0;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 6px 12px;
}
.searchevents .form-control:not([size]):not([multiple]){
    height: calc(2.25rem + 2px);
}

.latest-post-area .latest-post-wrap .single-latest-post .post-right a{
    color: #EA060C;

}

.latest-post-area .latest-post-wrap .single-latest-post .post-right a:hover{
    color: black;
}

.readmore{
    margin-top: 15px;
    text-align: left;
}

.readmore .readm{
    text-transform: uppercase;
}


.iconsearchevent{
    margin-top: 8px;
    font-size: 22px;
    color: #EA060C;
}

.iconsearchevent:hover{
    color: black;
}

.iconfilter{
    margin-top: 8px;
    font-size: 22px;
    color: black;
}

.iconfilter:hover{
    color: #EA060C;
}

.btnnone{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.select-sort{
    border-radius: none !important;
    font-size: 14px !important;
}



    .select {


  overflow: hidden;
  background: url("../img/filter.png") no-repeat 95% center;
  background-size: 12%;
    
        font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #666666;
}
.select select {
cursor: pointer;
    padding: 6px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: capitalize;

}

.hcolor{
  color: #777777;
  margin-bottom: 5px;
}

.contact-boxes {
    text-align: right;
    padding: 0;
    margin: 0;
}

.contact-boxes ul li {
   display: inline-block;
   text-align: center;
   margin-right: 10px;
   margin-left: 10px;
}

.contact-boxes ul li a{
    color: #666666;
}

.contact-boxes i{
   font-size: 18px;
}

.contact-boxes ul li a:hover{
     color: #EA060C;
}


.latest-post-wrap .nav-item {
    margin-right: 15px;
    text-transform: uppercase;
}

.latest-post-wrap .nav-item a{
 background-color: #EA060C;
 border: 1px solid #EA060C;
color: #fff;
font-weight: 600;
}

.latest-post-wrap .nav-item a:hover{
 background-color: #FFF;
 border: 1px solid #EA060C;
color: #EA060C;
/*font-weight: 600;*/
transition:all .6s ease 0s;
}

.h1min{
    font-size: 30px;
}

.h6details{
    font-weight: 500;
    color: #7F7F7F !important;
}

.nohover{
    color:#666666 !important;
    font-weight: 700;
}

.plr-10-0{

    padding-left: 10px;
    padding-right: 0px;

}

.contentido-profile{
    margin-bottom: 40px;
    margin-top: 30px;
}

.contentido-profile .title{
    font-size: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 5px;
    margin-top: 20px;

}
.contentido-profile p{
text-align: justify;
text-transform: initial;
font-stretch: normal;
}

.tagfoto{
 background: #fff !important;
}

.mb-0{
    margin-bottom: 0;
}

.atagfoto{
   color: #898989!important;
   text-transform: capitalize !important;
   font-weight: 500;
}

.contentido-profile a{
     color: #EA060C;
     font-weight: 500;
}

.alinkin{
    color: #666666 !important;
}

.alink{
     color: #EA060C;
     font-weight: 500;
}

.alink:hover{
  color:#000;
}


.alink2{
    color:#000;
     font-weight: 500;
}

.alink2:hover{
     color: #EA060C !important;
     font-weight: 500;
}


.contentido-profile a:hover{
color: #000;
}

.fila{
    padding-bottom: 10px;
     border-bottom: 1px solid #c2c2c2;
     margin-left: 0;
     margin-right: 0;
}

.nav-tabs .nav-link{
    border-radius: 0;
}

/*   .contentido-profile .nomov1{
        display: block ;
    }*/

.mt-30i{
  margin-top: 30px !important;
}


#msform{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
  
    box-sizing: border-box;
    width:100%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 7px 15px;
    border: 1px solid #ced4da;
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #7f7f7f;
    font-size: 14px;
    /*font-weight: 300;*/
}

#msform input:focus {
  color: #7f7f7f;
  border:1px solid #EA060C;
}

#msform textarea:focus {
  color: #7f7f7f;
  background-color: #fff;
  outline: 0;
  border:1px solid #EA060C;
}

#msform input::placeholder {
    color:#B2B2B2;
}


#msform textarea::placeholder {
    color:#B2B2B2;

}


.spanlabel{
     color:#7E7E7E;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 300;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #EA060C;
    font-weight: 500;
    color: white;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    padding: 5px;
    margin: 30px 5px;
    border: 1px solid #EA060C;
}
#msform .action-button:hover, #msform .action-button:focus {
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #EA060C;*/

     background-color: #FFF;
color: #EA060C;
transition:all .6s ease 0s;
}

.previous{
background-color: #D2D2D2 !important;
 border: 1px solid #D2D2D2 !important;
 color: #666666 !important;


}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 30px;
    margin-top: 20px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    /*margin-bottom: 30px;*/
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 25%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 15px;
    display: block;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    background: white;
    border-radius: 0;
    margin: 0 auto 5px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D2D2D2;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #EA060C;
    color: white;
}


.onoffswitch {
    position: relative; width: 88px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 22px;
    margin-bottom: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "NO";
    /*padding-left: 0;*/
    background-color: #EEEEEE; color: #999999;
}
.onoffswitch-inner:after {
    content: "YES";
    padding-right: 16px;
    background-color: #EA060C; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border: 2px solid #FFFFFF; border-radius: 22px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}



.titlecategory{
    text-transform: uppercase;
}

.detailscategory{
    background-color:rgba(247,247,247,0.9);
    padding-top: 15px;
    margin-bottom: 20px;
    display: none;
}



.nolarge{
    display: none;
}


.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}


.lineamedio {
    margin-top:20px;
    margin-bottom: 20px;
  display:flex;
  color:#C2C2C2 !important;
  font-weight: 500;
  /*background:linear-gradient(to left,gray,lightgray,white,yellow,turquoise);;*/
}
.lineamedio:before, .lineamedio:after {
  color:#C2C2C2 !important;
  content:'';
  flex:1;
  border-bottom:groove 2px;
  margin:auto 0.25em;
  /*box-shadow: 0 -1px ; ou 0 1px si border-style:ridge */
}
.mb-20{
    margin-bottom: 20px;
}

.mt-90{
    margin-top: 90px;
}

.pl-10{
    padding-left: 10px;
}

.papdper{
    padding-left: 15px;
    padding-right: 0;
}

@media (min-width: 768px) {
#main-menu{
    display: none;
}
}


@media (max-width: 768px) {
    
   .nomobile{
        display: none !important;
    }

    .nolarge{
    display: block;
    }

    .leftmovil{
        text-align: left;
        margin-bottom: 5px;
    }

   /* .iconsearchevent{
        display: none;
    }*/

    /*.btnnone{
         margin-top: 15px;
         margin-bottom: 15px;
        
    }
    .btnnone::after{
        background-color: #EA060C;
        color: #fff;
        max-width: 400px;
        content: 'Search';
         padding: 6px 15px;
    }*/

    .Search{
        display: none !important;
    }

    #menudesktop{
        display: none !important;
    }

  .topmov{
    margin-top: 60px;
    }
    .topmov2{
        margin-top: 120px;
    }

    .g-recaptcha{

       transform:scale(0.79);
       transform-origin:0 0;

    }

   .contact-boxes {
    text-align: left;
   margin-top: 20px;
   margin-left: 10px;
    }

    .papdper{
    padding-left: 10px;
    padding-right: 10px;
}

}

@media (max-width: 575px) {



 }

@media (max-width: 420px) {

.card1 h4{
font-size: 12px;
}
 }

@media (max-width: 300px) {

.card1 h4{
font-size: 8px !important;
}


}